@font-face {
    font-family: Urbanist-VariableFont_wght;
    src: url(../fonts/Urbanist/Urbanist-VariableFont_wght.ttf);
}

@font-face {
    font-family: GreatVibes-Regular;
    src: url(../fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

$body_backgroundcolor: #5f1bcb;
$main_background_color_app1: #400b98;
$main_background_color_app2: #23005b;
$purple_color: #9678c3;
$blue_color: #47bffb;
$white: #fff;
$white_op: #ffffff82;
$rounded: 1.5rem;
$font-family: Urbanist-VariableFont_wght;
$font-signature: GreatVibes-Regular;